In [1]:
import pandas as pd
import os

perc_forest_area_data= os.path.join("Resources/API_AG.LND.FRST.ZS_DS2_en_csv_v2_712984.csv")
perc_forest_area_df=pd.read_csv(perc_forest_area_data, skiprows=4)
perc_forest_area_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,2.067825,2.067825,2.067825,2.067825,2.067825,2.067825,NaN,NaN,NaN,NaN
2,Angola,AGO,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,46.807732,46.707627,46.607525,46.507420,46.407315,46.307210,NaN,NaN,NaN,NaN
3,Albania,ALB,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,28.297081,28.262044,28.227007,28.191972,28.156934,28.121897,NaN,NaN,NaN,NaN
4,Andorra,AND,Forest area (% of land area),AG.LND.FRST.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,34.042553,34.042553,34.042553,34.042553,34.042553,34.042553,NaN,NaN,NaN,NaN