In [1]:
import pandas as pd
import os

perc_agric_land_data= os.path.join("Resources/API_AG.LND.AGRI.ZS_DS2_en_csv_v2_713399.csv")
perc_agric_land_df=pd.read_csv(perc_agric_land_data, skiprows=4)
perc_agric_land_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,11.111111,11.111111,11.111111,11.111111,11.111111,...,11.111111,11.111111,11.111111,11.111111,11.111111,11.111111,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,57.745918,57.837821,57.914407,58.010906,58.013969,...,58.067580,58.067580,58.067580,58.067580,58.067580,58.067580,NaN,NaN,NaN,NaN
2,Angola,AGO,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,45.857063,45.881126,45.897169,45.921232,45.937274,...,47.316917,47.316917,47.477340,47.477340,47.477340,47.477340,NaN,NaN,NaN,NaN
3,Albania,ALB,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,44.963504,44.963504,45.000000,44.890511,45.145985,...,43.832117,43.843067,43.332119,42.857301,42.857666,43.127735,NaN,NaN,NaN,NaN
4,Andorra,AND,Agricultural land (% of land area),AG.LND.AGRI.ZS,NaN,55.319149,55.319149,55.319149,55.319149,55.319149,...,42.063831,39.914894,40.021275,40.021275,40.021275,39.957448,NaN,NaN,NaN,NaN