In [1]:
import pandas as pd
import os

gpd_growth_data= os.path.join("Resources/API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_713083.csv")
gpd_growth_df=pd.read_csv(gpd_growth_data, skiprows=4)
gpd_growth_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.446055,-1.369863,4.198232,0.848228,-0.450586,-0.211225,1.330511,NaN,NaN,NaN
1,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,0.426355,12.752287,5.600745,2.724543,1.451315,2.260314,2.665292,1.030660,NaN,NaN
2,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,3.471981,8.542147,4.954590,4.822626,0.943576,-2.580097,-0.147207,-2.133493,NaN,NaN
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,2.545323,1.417524,1.001989,1.774487,2.218751,3.314805,3.821081,4.145238,NaN,NaN
4,Andorra,AND,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,-4.646543,-1.615218,0.351645,2.277683,0.842204,1.889124,1.724022,1.629345,NaN,NaN