In [1]:
import pandas as pd
import os

urban_perc_totalpop_data= os.path.join("Resources/API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_718765.csv")
urban_perc_total_pop_df=pd.read_csv(urban_perc_totalpop_data, skiprows=4)
urban_perc_total_pop_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761,50.746,50.730,50.715,50.700,...,42.940,42.957,42.990,43.041,43.108,43.192,43.293,43.411,NaN,NaN
1,Afghanistan,AFG,Urban population (% of total population),SP.URB.TOTL.IN.ZS,8.401,8.684,8.976,9.276,9.586,9.904,...,23.948,24.160,24.373,24.587,24.803,25.020,25.250,25.495,NaN,NaN
2,Angola,AGO,Urban population (% of total population),SP.URB.TOTL.IN.ZS,10.435,10.798,11.204,11.624,12.058,12.504,...,60.528,61.268,62.002,62.731,63.446,64.149,64.839,65.514,NaN,NaN
3,Albania,ALB,Urban population (% of total population),SP.URB.TOTL.IN.ZS,30.705,30.943,31.015,31.086,31.158,31.230,...,53.247,54.330,55.387,56.423,57.434,58.421,59.383,60.319,NaN,NaN
4,Andorra,AND,Urban population (% of total population),SP.URB.TOTL.IN.ZS,58.450,60.983,63.462,65.872,68.205,70.445,...,88.726,88.631,88.537,88.441,88.345,88.248,88.150,88.062,NaN,NaN